@tailwind base;
@tailwind components;
@tailwind utilities;

/* .header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

.logo {
    width: 100px;
}

.nav-items > ul {
    font-size: 24px;
    display: flex;
    padding: 0px 20px;
    list-style-type: none;
}

.nav-items > ul > li {
    padding: 10px;
    margin: 10px;
}
.search {
    padding: 10px;
}

.res-card {
    margin: 5px;
    padding: 5px;
    width: 250px;
}

.res-card:hover {
    cursor: pointer;
    border: 1px solid black;
}

.res-logo {
    width: 100%;
}

.resturant-list {
    display: flex;
    flex-wrap: wrap;
}

.filter-btn {
    margin: 10px;
    cursor: pointer;
}

.h1 {
    text-align: center;
}

.shimmer-card {
    width: 200px;
    height: 200px;
    background: lightgray;
    margin: 20px;
    
}

.menu {
    display: flex;
}
 */
